<app-titulo [titulo]="'Eventos'"></app-titulo>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtrar: </label>
    <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="listFilter"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="changeImage()">
            <i class="{{isShowing ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
            {{isShowing ? 'Ocultar' : 'Mostrar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
<tbody *ngIf="events && events.length">
  <tr *ngFor="let event of filteredEvents">
    <td>
      <img [collapse]="!isShowing"
        [isAnimated]="true"
        src="/assets/{{event.imagemURL}}"
        [style.width.px] = "widthValue"
        [style.margin.px] = "marginValue"
      >
    </td>
    <td>{{event.id}}</td>
    <td>{{event.tema}}</td>
    <td>{{event.local}}</td>
    <td>{{event.dataEvento | DateTimeFormat}}</td>
    <td>{{event.qtdPessoas}}</td>
    <td>{{event.lotes[0].nome}}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-danger btn-sm mr-2" tooltip="Excluir" (click)="openModal(template)">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!filteredEvents.length">
  <tr>
    <td colspan="8" class="text-center">
      <h4>Nenhum evento encontrado!</h4>
    </td>
  </tr>
</tfoot>
</table>
<!-- {{events | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
